{{ define "title"}}<title>bloodcare dashboard</title>{{ end }}
{{ define "content" }}
{{ template "header" . }}        
{{ template "sidebar" . }}
<!--main content start-->
<section id="main-content">
<section class="wrapper">
<!--mini statistics start-->
<div class="row">
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="gauge-canvas">
                        <h4 class="widget-h">Monthly Requests</h4>
                        <canvas width=160 height=100 id="gauge"></canvas>
                    </div>
                    <ul class="gauge-meta clearfix">
                        <li id="gauge-textfield" class="pull-left gauge-value"></li>
                        <li class="pull-right gauge-title"></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Signups</h4>
                        <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

                        </div>
                        <ul class="chart-meta clearfix">
                            <li class="pull-left visit-chart-value">3233</li>
                            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Daily Donations</h4>
                    <div class="bar-stats">
                        <ul class="progress-stat-bar clearfix">
                            <li data-percent="60%"><span class="progress-stat-percent blue"></span></li>
                            <li data-percent="40%"><span class="progress-stat-percent pink"></span></li>
                            <li data-percent="50%"><span class="progress-stat-percent"></span></li>
                            <li data-percent="30%"><span class="progress-stat-percent yellow-b"></span></li>
                        </ul>
                        <ul class="bar-legend">
                            <li><span class="bar-legend-pointer blue"></span> Maharashtra</li>
                            <li><span class="bar-legend-pointer pink"></span> Karnataka</li>
                            <li><span class="bar-legend-pointer green"></span> TamilNadu</li>
                            <li><span class="bar-legend-pointer yellow-b"></span> Kerala</li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!--mini statistics end-->
<div class="row">
    <div class="col-md-12">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">
                Blood Donations <span class="tools pull-right">
            </span>
            </header>
            <div class="panel-body">

                <div id="graph-area" class="main-chart">
                </div>

            </div>
        </section>
        <!--earning graph end-->
    </div>
</div>

</section>
</section>
<!--main content end-->
{{ end }}
{{ define "fscripts" }} 
    <script src="{{.assetsurl}}/js/chart/jquery.flot.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.flot.tooltip.min.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.flot.resize.min.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.flot.pie.resize.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.flot.animator.min.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.flot.growraf.js"></script>
    <script src="{{.assetsurl}}/js/chart/gauge.js"></script>
    <script src="{{.assetsurl}}/js/chart/morris.min.js"></script>
    <script src="{{.assetsurl}}/js/chart/raphael.min.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery-jvectormap-world-mill-en.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.sparkline.js"></script>
    <script src="{{.assetsurl}}/js/chart/jquery.easypiechart.min.js"></script>
    <script src="{{.assetsurl}}/js/d9.js"></script>
    <script src="{{.assetsurl}}/js/jquery.customSelect.min.js" ></script>
    <script src="{{.assetsurl}}/js/css3clock.js"></script>
    <script src="{{.assetsurl}}/js/clndr.js"></script>
    <script src="{{.assetsurl}}/js/evnt.calendar.init.js"></script>
{{ end }}
{{ define "styles" }}
    <link href="{{.assetsurl}}/css/css3clock/css/style.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/clndr.css" rel="stylesheet">
{{ end }}
